h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movies div {
    width: 150px;
    text-align: center;
}

.movies img {
    width: 100%;
    height: auto;
}

.movieItems {
    padding: 5px;
    color: black;
}


.movieItems h2 {
    font-size: 15px;
}

p {
    color: black;
}


.vote_average {
    display: inline-block;
    padding: 7px 15px;
    background-color: #1e4157;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #21c94a;
}

