.moviesdetails h1 {
    font-size: 24px;
}

.moviesdetails {
    margin-top: 100px;
}

.moviesdetails div {
    text-align: center;
}

.moviesdetails img {
    width: 300px;
    height: auto;
}

.movies_details_credit_cast{
    display: grid;
    grid-gap: 16px;
    padding: 16px;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(260px,1fr);
    overflow-x: auto;
}


