h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.series {
    display: flex;
    flex-wrap: wrap;
}

.series div {
    width: 150px;
    text-align: center;
    background-color: #f0f0f0;
}

.series img {
    width: 100%;
    height: auto;
}

.serieItems {
    padding: 5px;
    color: black;
}


.serieItems h2 {
    font-size: 15px;
}

p {
    color: black;
}


.vote_average {
    display: inline-block;
    padding: 7px 15px;
    background-color: #1e4157;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #21c94a;
}

