.seriedetails h1 {
    font-size: 24px;
}

.seriedetails {
    margin-top: 100px;
}

.seriedetails div {
    text-align: center;
}

.seriedetails img {
    width: 300px;
    height: auto;
}


.series_details_credit_cast{
    display: grid;
    grid-gap: calc(10px / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - 20px * 2);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * 20px);
    margin-bottom: calc(-.25 * 20px);
    width: 700px;
}

@media(min-width: 540px){
    .series_details_credit_cast{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
}

@media(min-width: 960px){
    .series_details_credit_cast{
        grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    }
}